p{
color: rgb(18, 107, 166);
}

li{
    color:rgb(29, 160, 152);
     font-size: x-large;
}

body{
 background-image: url(https://images4.alphacoders.com/970/thumbbig-9706.webp);
 background-size: cover;
 background-repeat: no-repeat;
}

h1{
    text-align: center;
    color :rgb(141, 10, 212);
    font-family:cursive;
}

h2{
    text-align: center;
    color:rgb(156, 20, 149)
}